header div {
    display: inline-block;
}

.left .fa-youtube {
    margin-left: 20px;
}

.center {
    margin-left: 200px;
}

.chegara {
    border: 1px solid #ccc;
    padding: 5px;
}

input {
    border: none;
    width: 400px;
}

input:focus {
    outline: none;
}

.crisp {
    padding: 6px 20px 5px 20px;
    margin-left: -4px;
}

.right {
    margin-left: 31
    0px;
}

.right i {
    margin: 10px;
}

.sit {
    font-size: 12px;
}

.up {
    float:left;
   
   

}



.sun {
    float: right;

    
}

.moon {
    clear: both;
}

main {
    float: left;
    width: 750px;
}

aside {
    width: 570px;
    float: right;
    /* height: 550px; */
}



.video iframe {
    width: 750px;
}

.next img {
    border-radius: 50%;
}

.dusi h4, 
.dusi p {
    margin:0;
}

.group {
    margin-left: 10px;
    margin-top:5px;
    /* padding-bottom: 15px; */
    float: right;
}



.deck {
    
    float: left;
    width: 220px;
}

.clim {
    float: left;
}



.kappa {
    float: right;
    /* width: 500px; */
}

.date {
    clear: both;
}



.gtl {
    background-color: red;
    color: white;
    /* margin-left: 600px; */
    padding: 5px 15px;
    font-size: 19px;
    border: none;
  
}

.for {
    margin-left: 100px;
}

.den {
    margin-left: 100px;
    color: #606060;
    font-weight: 500;
}

.world, .de {
    display: inline-block;
}

.red {
    border-radius: 50px;
}

.world {
    display: inline-block;
   
}

.world img {
    border-radius: 50%;
}

.de h5, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ras  {
    width: 200px;
    /* height: 200px; */
    float: left;
}

.ras img{
    width: 100%;

}

.cod {
    float: right;
    width: 360px;
}

.cod p {
    color: grey;
}

.dfg {
    clear: both;
}

.ras1 {
    width: 200px;
    /* height: 200px; */
    float: left;
}

.ras1 img {
    width: 100%;
}

.cook {
    float: right;
    width: 360px;
} 

.cook p {
    color: grey;
}

.ras1 {
    width: 200px;
    /* height: 200px; */
    float: left;
}

.ras2 {
    width: 200px;
    float: left;
}

.ras2 img {
    width: 100%;
}

.cool {
    float: right;
    width: 360px;
   
} 

.cool p {
    color: grey;
}

footer {
    width: 1320px;
    
    /* background-color: grey; */
}

.glass {
    clear: both;
}



.mandarin button {
    margin: 15px;
    background-color: rgb(248, 248, 248);
}

.fireman p{
    display: inline;
    margin: 15px;
}

.police P {
    margin-top: 20px;
    display: inline;
    margin: 15px;
    color: grey;
    text-transform: capitalize;
}

.abc {
    clear: both;
}

.police {
    margin-top: 15px;
}

