header div {
    display: inline-block;
}

.left .fa-youtube {
    margin-left: 20px;
}

.center {
    margin-left: 200px;
}

.chegara {
    border: 1px solid #ccc;
    padding: 5px;
}

input {
    border: none;
    width: 400px;
}

input:focus {
    outline: none;
}

.crisp {
    padding: 6px 20px 5px 20px;
    margin-left: -4px;
}

.right {
    margin-left: 320px;
}

.right i {
    margin: 10px;
}

.sit {
    font-size: 12px;
}

.up {
    float:left;
   
   

}



.sun {
    float: right;

    
}

.moon {
    clear: both;
}

main {
    width: 750px;
}

.video iframe {
    width: 750px;
}

.next img {

    border-radius: 50%;
}

.next {
    width: 220px;
}

.dusi h4, 
.dusi p {
    margin:0;
}

.group {
    margin-left: 10px;
    margin-top:5px;
    /* padding-bottom: 15px; */
    float: right;
}

* {
    border: 1px solid green;
}

.clim {
    
    float: left;
}



